
.MHAnav{
    background-color:#ddd
}
body{
    margin-top: 0;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}
.myrow {
    margin-right: 0px;
}
  .H-nav{
      background:#ccc;
      width: 100%
  }
  .H-nav li{
      display:inline-block;
  }
  .header{
      position:relative;
      left:560px;
  }
    

    .logout{
        float:right;
        position:relative;
        top:42px;
    }
        .logout:hover{
            color: red;
            
        }
        ul {
            list-style-type: none;
        }

li {
    padding: 10px;
}

    li a {
        display: block;
        text-decoration: none
    }

        li a:hover {
            text-decoration: none
        }

aside {
    margin-top: 160px;
}

.pgcontent {
    margin-top: 120px;
}


.logout {
    float: right;
}
